.login-page.login-1 {

    .login-wrapper {

        &::before {
            // background-image: url('/assets/admin/img/skynight.jpg');
            // background-position: center top;
            // background-size: cover;
            background: linear-gradient(118.57deg, rgba(157, 56, 252, 0.75) -0.27%, rgba(67, 0, 130, 0.75) 97.43%);
            content: '';
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        &::after {
            // background-color: $ls-login-bg-color-overlay;
            background-image: url('/assets/admin/img/background.png');
            background-size: cover;
            opacity: 0.3;
            content: '';
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: -1;
        }

    }

}